<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation Form</title>
</head>
<body>

<h1>Student Confirmation</h1>
The student has been registered successfully with the following details: <br>
First Name: <span th:text="${customer.firstName}"></span><br>
Last Name: <span th:text="${customer.lastName}"></span><br>
Free Passes: <span th:text="${customer.freePasses}"></span><br>
Postal Code: <span th:text="${customer.postalCode}"></span><br>
Course Code: <span th:text="${customer.courseCode}"></span><br>
</body>
</html>